<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faces</title>
</head>
<body>
    <h1>!FBI - Home</h1>
    <p>if you FBi is comming for you, use this</p>
    <p>Upload your images here</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
    </form>
    <a href="{% url 'gallery' %}">Gallery</a>
</body>
</html>